@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #22272e;
}
ul {
    color: mediumpurple;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}
nav{
    background-color: #292d3e;
}
.navbar-brand{
    color: #c9f;
}
a{
    color: #c9f;
}
a:hover{
    color: mediumpurple;
}
.collapse{
    background-color: #22272e;
}
.navbar-toggler-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c9f;
}
.navbar-toggler{
    border: thin solid #cc99ff;
}
.navbar-toggler:hover{
    background-color: darkslateblue;
}

.typing{
    margin: 20% auto 0 auto;
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 38px;
    color: #a5abcc;
}

/* Animation */
.typing{
    animation: animated-text 4s steps(40,end) 1s 1 normal both,
    animated-cursor 600ms steps(40,end) infinite;
}

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 870px;}
}

/* cursor animations */

@keyframes animated-cursor{
    from{border-right-color: mediumpurple;}
    to{border-right-color: transparent;}
}
/*.container{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*}*/
.links{
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.link:hover{
    transform: scale(1.2);
    transition: .1s;
    transition-timing-function: ease-in-out;
}
.links a{
    margin-right: 10px;
    margin-left: 10px;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Source Code Pro', monospace;
    margin-top: 1em;
}
section{
    margin-bottom: 17%;
}
hr{
    background-color: #a5abcc;
    margin: 0;
}
.summary{
    font-size: x-large;
    color: #a5abcc;
    padding: 10px;
    margin-bottom: 3em;
}
h5{
    font-size: x-large;
    text-align: center;
    padding-top: 10px;
    color: #cc99ff;
    margin-top: 10px;
}
.text-container{
    border: solid #a5abcc;
    max-width: 600px;
    background-color: #292d3e;
    text-align: center;
    margin-left: auto;
    height: 700px;
}
.abt-me{
    max-height: 50px;
    margin-top: 100px;
    margin-bottom: 150px;
    color: #cc99ff;
    font-size: xxx-large;
}
.light-bar{
    background-color: #292d3e;
    height: 1000px;
    width: 25%;
}
.section-2-main{
    display: flex;
    flex-wrap: wrap;
}
h1{
    width: 100%;
    justify-content: center;
}
img{
    margin-top: 60px;
    margin-left: 50px;
    width: 375px;
    height: 550px;
    border: solid #a5abcc;
    border-radius: 2%;
}
.quote{
    font-size: large;
    color: #a5abcc;
    margin: 1em 0 0 0;
}
.author{
    margin: 0 0 1em 0;
    color: mediumpurple;
}
